# This is a sample .env file

# This is the database URL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/chat?schema=public"

# This is the secret used by JWT to encrypt/decrypt the token
JWT_SECRET="secret"
